extends templates/base

block head
    - var page = 'Resume';

block body
    include:markdown-it(html="true") ../copies/resume.md
    p#resumemobile Docs IFrames are slightly broken with narrow screen widths :( Please hit the download button for a good version of my resume