html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="author", content="Mitchell Nuckols")
        meta(name="description", content="Electrical engineering student and intermittent freelance web developer")
        meta(name="theme-color", content="#111111")
        link(rel="icon", href="assets/favicon.png", sizes="16x16", type="image/png")
        link(rel="stylesheet", href="styles/main.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js", integrity="sha256-kRbW+SRRXPogeps8ZQcw2PooWEDPIjVQmN1ocWVQHRY=", crossorigin="anonymous")
        block head
        title #{page} - Mitchell Nuckols 
    body(onload="loadComplete()")
        figure#logo
            include ../../assets/logo.svg
        include navbar.pug
        .content
            block body
        script(type="text/javascript")
            include ../../assets/logo.js
