ul#navbar
    li.nav-link(class=(page === 'About' ? 'active' : undefined)): a(href="/") About
    li.nav-link(class=(page === 'Resume' ? 'active' : undefined)): a(href="/resume") Resume
    li.nav-link(class=(page === 'Projects' ? 'active' : undefined)): a(href="/projects") Projects